body {
    margin: 2rem 2rem 2rem 4rem;
    width: 90%;
    height: 100%;
    min-width: 250px;;
    min-height: 250px;
    overflow: hidden;
}
/* start Header */
#header {
    width: 100%;
    height: 29%;
}
#hea-ban {
    height: 5%;
    width: 100%;
    background: black;
}
#logo {
    height: 70%;
    width: 25%;
    float: left;
}
.img {
   
    width: 90%;
    height: 90%;
}
#menu{
    height: 70%;
    width: 75%;
    float: right;
}
.bt-menu {
    background: #33CC33;
    margin-top:5%; 
}
.bt-menu ul{
clear: both;
text-align: center;
list-style: none ;
}

.bt-menu li{
display: inline;
margin-left: 2%;
margin-right: 2%;
font-size: 22px;
padding-top:0; 
}

.bt-menu li:hover{
background: aqua;
color: white;
}

.bt-menu ul li a:focus,

.bt-menu ul li.focus{
    background: red;
    color: white;
}
.banner{
    width: 100%;
    height: 25%;
}
/* End header */
/* start navigation*/ 
#main-well {
    width: 100%;
    height: 65%;
   
}
#sidebar{
    clear: both;
    float: left;
   
    width: 25%;
    height: 100%;
    border-right:1px solid; 
    overflow: auto;
}
#main-div{
    float: right;
    width: 75%;
    height: 100%;
   overflow: auto;
}
.btn{
    width: 100%;
    border-bottom: 1px solid;
    margin-top:2%; 
}
.btn:hover{
    background: turquoise;

}
.btn:focus{
    background: red;
}
.btn-quickstart, .btn-setup,.btn-advanced,.btn-access,.btn-maintenance,.btn-status,.btn-help{
    font-weight: bold;
    font-size: 22px;
    
}
.btn-setup,.btn-advanced,.btn-access,.btn-maintenance,.btn-status,.btn-help{
    display: none;
}
/* End navigaton*/
#footer {
    clear: both;
    height: 4%;
    width: 100%;
     
    text-align: center;
    background: #33CC00;
}