body{
    background-color: #FFFFFF;
    background: -moz-linear-gradient(bottom, #FFFFFF 30%, #0033FF 70%);
    background: -o-linear-gradient(bottom, #FFFFFF 30%, #0033FF 70%);
    background: -ms-linear-gradient(bottom, #FFFFFF 30%, #0033FF 70%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0.3, #FFFFFF),color-stop(0.7, #0033FF));
    font-family: arial
}
#contaner-fluid{
    width:100%;
    height:100%;
    align:center;
}
#div_visite {
        background: #f4f4f4 url(./html/bg.gif) repeat top left;
        border-radius: 8px 8px 8px 8px;
        -moz-border-radius: 8px 8px 8px 8px;
        -webkit-border-radius: 8px 8px 8px 8px;
        -webkit-box-shadow: #666 0px 3px 4px;
        -moz-box-shadow: #666 0px 3px 4px;
        box-shadow: #666 0px 3px 4px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 170px;
        padding: 15px 20px;
        width: 500px;
        height: 350px;
    }

    #form{
        padding-left: 100px;
        margin-top: 50px;
    }
.img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 70px;
    }
    .pwd{
        margin-top: 20px;
    }
    .bt{
        background: #0066FF;
        height: 40px;
        border-radius:10px;
        color: white;
        width: 100px; 
        font-size: 18px;
        margin-top: 20px;
        margin: 20px 0 0px 30px;
    }