<div class="main well">

	<form method="POST" action="/cgi-bin/home_lan.asp" name="uiViewLanForm">
		<input type="HIDDEN" name="lan_VC" value="0">
		<input type="HIDDEN" name="lan_Alias_VC" value="0">
		<input type="HIDDEN" name="aliasFlag" value="N/A">
		<input type="HIDDEN" name="defaultRoute" value="0">
		<input type="HIDDEN" name="isIgmpMaxGroupSupported" value="N/A">

		<input type="HIDDEN" name="defaultRoute_isp" value="2">
		<input type="HIDDEN" name="staticNum" value="0">
		<input type="HIDDEN" name="LeaseNum" value="1">
		<input type="HIDDEN" name="emptyEntry" value="0">
		<input type="HIDDEN" name="addFlag" value="0">
		<input type="HIDDEN" name="delnum">
		<input type="HIDDEN" name="tmpStartIp" value="192.168.1.2">
		<input type="HIDDEN" name="tmpEndIp" value="192.168.1.254">
		<input type="HIDDEN" name="tmpPoolCount" value="253">
		<input type="HIDDEN" name="option60Flag" value="No">
		<input type="HIDDEN" name="isIPv6Supported" value="1">
		<input type="HIDDEN" name="ipv6Flag" value="1">
		<input type="hidden" name="userMode" value="0">

		<input type="HIDDEN" name="isolateigmpFlag" value="0">
		<input type="HIDDEN" name="ActiveIsolateIGMP" value="Yes">


		<!-- Router local IP start here-->
		<div class="panel panel-info">
			<div class="panel-heading">Set LAN IP Address</div>
			<div class="panel-body" style="display:table">
				<table class="table1">
					<tbody>
						<tr>
							<td class="fcol">&nbsp;</td>
							<td class="scol">IP Address</td>
							<td width="10">&nbsp;</td>
							<td>
								<input class="myInputText" type="TEXT" name="uiViewIPAddr" size="15" maxlength="15" onblur="blockIP();" value="192.168.1.1">
								<input type="HIDDEN" name="dhcpFlag" value="1"><input type="HIDDEN" name="lanFlag" value="0"><input type="HIDDEN"
								 name="DNSproxy" value="Yes"></td>
						</tr>

						<tr>
							<td class="fcol"></td>
							<td class="scol">IP Subnet Mask</td>
							<td width="10">&nbsp;</td>
							<td>
								<input class="myInputText" type="TEXT" name="uiViewNetMask" size="15" maxlength="15" value="255.255.255.0">
							</td>
						</tr>


						<tr>
							<td class="fcol"></td>
							<td class="scol">Dynamic Route</td>
							<td width="10">&nbsp;</td>
							<td class="myInputText">
								<select name="lan_RIP" size="1">
									<option value="RIP1" selected="">RIP1
									</option>
									<option value="RIP2">RIP2
									</option>
								</select> Direction
								<select name="lan_RIP_Dir" size="1">
									<option value="None" selected="">None
									</option>
									<option value="Both">Both
									</option>
									<option value="IN Only">IN Only
									</option>
									<option value="OUT Only">OUT Only
									</option>
								</select></td>
						</tr>










					</tbody>
				</table>
			</div>
		</div>
		<!--Router local IP setting end -->


		<!-- IGMP advanced setting start -->
		<div class="panel panel-info">
			<div class="panel-heading">Advanced LAN Setting</div>
			<div class="panel-body">
				<table class="table1">
					<!-- IGMP snooping-->




					<tbody>
						<tr>
							<!-- style="display:none"-->
							<!--wang hidde snoop switch, to solve that 5g wifi can't jion multicast when snoop deactive -->
							<td class="fcol"></td>
							<td class="scol">

								IGMP Snooping</td>
							<td width="10">&nbsp;</td>
							<td class="tabdata">
								<!--wang change LANSnoopText to LANIgmpSnoopText-->


								<input name="lan_snoop" type="RADIO" value="Yes" onclick="doigmpforwifiChange();" checked=""> Enable
								&nbsp;&nbsp;&nbsp;&nbsp;<input type="RADIO" name="lan_snoop" value="No" onclick="doigmpforwifiChange();">
								Disable </td>
						</tr>



						<!--IGMP snooping end  -->


						<!--Add Limit NAT session here -->
						<!--cindy add for limit nat session 11/04-->
						<tr>
							<td class="fcol"></td>
							<td class="scol">Limit NAT session</td>
							<td width="10">&nbsp;</td>
							<td class="tabdata">
								<input name="Limit_natsession" type="RADIO" value="1"> Enable
								&nbsp;&nbsp;&nbsp;&nbsp;<input type="RADIO" name="Limit_natsession" value="0" checked=""> Disable</td>
						</tr>

						<!--cindy add for limit nat session 11/04-->

						<!--Add Mirror function here -->
						<tr>
							<td class="fcol">&nbsp;</td>
							<td class="scol">Mirror</td>
							<td width="10">&nbsp;</td>
							<td class="tabdata">
								<input type="HIDDEN" name="Mirrorflag" value="0">
								<input name="Mirror_Active" value="Yes" type="radio">
								Enable
								&nbsp;&nbsp;&nbsp;&nbsp;<input name="Mirror_Active" value="No" type="radio" checked="">
								Disable
							</td>
						</tr>


					</tbody>
				</table>
			</div>
		</div>
		<!--Lan Advanced Setting end here -->

		<!--Isolate lan clients start -->
		<div class="panel panel-info">
			<div class="panel-heading">LAN Clients Isolation</div>
			<div class="panel-body">

				<table class="table1">
					<!--wang add start for isolate all lan client 20171012-->

					<tbody>
						<tr>
							<td class="fcol"></td>
							<td class="scol">Isolate all clients</td>
							<td width="10">&nbsp;</td>
							<td class="tabdata">
								<input name="isolate_client" type="RADIO" value="Yes" onclick="doIsolateIGMPChange();"> Enable
								&nbsp;&nbsp;&nbsp;&nbsp;<input type="RADIO" name="isolate_client" value="No" onclick="doIsolateIGMPChange();"
								 checked=""> Disable </td>
						</tr>

						<!--isolate all lan end-->

						<!--wang add start for isolate igmp 20171228-->

						<tr id="isolate_igmp" style="height:30px;">

							<td class="fcol"></td>
							<td class="scol">Isolate IGMP </td>
							<td width="10">&nbsp;</td>
							<td class="tabdata">
								<input name="Isolate_IGMP" type="RADIO" value="Yes"> Enable
								&nbsp;&nbsp;&nbsp;&nbsp;<input type="RADIO" name="Isolate_IGMP" value="No"> Disable
							</td>
						</tr>
						<!--wang add end-->


						<!--wang add start for IGMP for Wireless 2017-09-17-->
						<tr id="igmpforwifi">
							<td class="fcol"></td>
							<td class="scol">IGMP for Wireless</td>
							<td width="10">&nbsp;</td>
							<td class="tabdata">
								<input name="WIFI_IGMP" type="RADIO" value="Yes" checked=""> Enable
								&nbsp;&nbsp;&nbsp;&nbsp;<input type="RADIO" name="WIFI_IGMP" value="No"> Disable </td>
						</tr>
						<!--wang add end-->

					</tbody>
				</table>
			</div>
		</div>
		<!--IGMP/NAT advanced setting end -->

		<!--Johnson add Remote Web Management -->
		<div class="panel panel-info">
			<div class="panel-heading">Web Remote Management</div>
			<div class="panel-body">

				<table class="table1">
					<tbody>
						<tr>
							<td class="fcol">&nbsp;</td>
							<td class="scol">Remote Web</td>
							<td width="10">&nbsp;</td>
							<td class="tabdata">
								<input type="HIDDEN" name="saveAccessflag" value="0">
								<input type="RADIO" name="wanAccessLanWebRadio" value="Yes" onclick="showhide(1);"> Enable
								&nbsp;&nbsp;&nbsp;&nbsp;<input type="RADIO" name="wanAccessLanWebRadio" value="No" onclick="showhide(0);"
								 checked=""> Disable
							</td>
						</tr>

						<tr id="en_port_div">
							<td class="fcol">&nbsp;</td>
							<td class="scol">Remote Port</td>
							<td width="10">&nbsp;</td>
							<td class="tabdata">
								<input class="myInputText" type="TEXT" name="remotePortValue" size="15" maxlength="15" value="">
							</td>
						</tr>



					</tbody>
				</table>


			</div>
		</div>

		<!-- Lan DHCP setting start here -->
		<div class="panel panel-info">
			<div class="panel-heading">DHCP</div>
			<div class="panel-body">



				<table class="table1">
					<tbody>
						<tr>
							<td colspan="4" class="title-col"> DHCP</td>
						</tr>


						<tr>
							<td class="fcol">&nbsp;</td>
							<td class="scol">DHCP</td>
							<td width="10">&nbsp;</td>
							<td class="tabdata">
								<!--cindy add 11/17-->
								<input type="RADIO" name="dhcpTypeRadio" value="1" checked="" onclick="doReload()"> Enable
								&nbsp;&nbsp;&nbsp;&nbsp;<input type="RADIO" name="dhcpTypeRadio" value="0" onclick="doReload()"> Disable
								<!--cindy add 11/17-->
								<!--cindy delete 11/17
        <INPUT TYPE="RADIO" NAME="dhcpTypeRadio" VALUE="0"  onClick="doReload()"> Disable 
        &nbsp;&nbsp;&nbsp;&nbsp;<INPUT TYPE="RADIO" NAME="dhcpTypeRadio" VALUE="1" checked onClick="doReload()"> Enable 
-->
								&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:none"><input type="RADIO" name="dhcpTypeRadio" value="2" onclick="doReload()">
									Relay </div>

							</td>
						</tr>

					</tbody>
				</table>










				<div id="dhcp_enabled_div0">
					<table class="table1">
						<tbody>
							<tr>
								<td class="fcol"></td>
								<td class="scol">Start IP</td>
								<td width="10">&nbsp;</td>
								<td>
									<input class="myInputText" type="TEXT" name="StartIp" size="15" maxlength="15" onblur="blockStartIP();" value="192.168.1.2">
								</td>
							</tr>
							<!--cindy delete ip pool count-->
							<tr style="display:none">
								<td class="fcol"></td>
								<td class="scol">IP Pool Count</td>
								<td width="10">&nbsp;</td>
								<td>
									<input class="myInputText" type="TEXT" name="PoolSize" size="15" maxlength="3" value="253">
								</td>
							</tr>
							<!--cindy add end ip-->
							<tr>
								<td class="fcol"></td>
								<td class="scol">End IP</td>
								<td width="10">&nbsp;</td>
								<td>
									<input class="myInputText" type="TEXT" name="EndIp" size="15" maxlength="15" onblur="blockEndIP();" value="192.168.1.254">
								</td>
							</tr>
							<!--cindy add end ip-->


							<tr>
								<td class="fcol"></td>
								<td class="scol">Lease Time</td>
								<td width="10">&nbsp;</td>
								<td>
									<input class="myInputText" type="TEXT" name="dhcp_LeaseTime" size="6" maxlength="6" value="86400">
									seconds (0 sets to default value of 259200)
								</td>
							</tr>




							<tr>
								<td colspan="4" height="10">&nbsp;</td>
							</tr>
							<tr>
								<td colspan="4" class="title-col">DNS Information Setting</td>
							</tr>

							<!-- Foxconn alan modify LAN DNS node from Dproxy_Entry to Dhcpd_Common (2017.8.24) -->
							<tr>
								<td class="fcol"></td>
								<td class="scol">DNS Relay</td>
								<td width="10">&nbsp;</td>
								<td class="tabdata">
									<input type="RADIO" name="dnsTypeRadio" value="0" onclick="autoDNSRelay()" checked=""> Automatically
									&nbsp;&nbsp;&nbsp;&nbsp;<input type="RADIO" name="dnsTypeRadio" value="1" onclick="manualDNSRelay()"> Manually
								</td>
							</tr>

							<tr>
								<td class="fcol"></td>
								<td class="scol">Primary DNS</td>
								<td width="10">&nbsp;</td>
								<td>
									<input class="myInputText" type="TEXT" name="PrimaryDns" size="15" maxlength="15" value="N/A" disabled="">
								</td>
							</tr>

							<tr>
								<td class="fcol"></td>
								<td class="scol">Secondary DNS</td>
								<td width="10">&nbsp;</td>
								<td>
									<input class="myInputText" type="TEXT" name="SecondDns" size="15" maxlength="15" value="N/A" disabled="">
								</td>
							</tr>



							<tr>
								<td colspan="4" height="10">&nbsp;</td>
							</tr>
							<tr>
								<td colspan="4" class="title-col">Add DHCP Reservation</td>
							</tr>
							<tr>
								<td colspan="4" height="5">&nbsp;</td>
							</tr>

							<tr>
								<td class="fcol"></td>
								<td class="scol">IP Address</td>
								<td width="10">&nbsp;</td>
								<td>
									<input class="myInputText" type="TEXT" name="IpAddr" size="15" maxlength="15" value="">
								</td>
							</tr>

							<tr>
								<td class="fcol"></td>
								<td class="scol">MAC Address</td>
								<td width="10">&nbsp;</td>
								<td>
									<input class="myInputText" type="TEXT" name="MACAddr" size="15" maxlength="17" value="">
								</td>
							</tr>

							<tr>
								<td colspan="4" height="10">&nbsp;</td>
							</tr>
							<tr>
								<td colspan="4" align="center">
									<!--
        <iframe src="/cgi-bin/dhcp_static_list.cgi" id="static_list" frameborder="0" width="600" height="180" align=left></iframe>
       -->
									<table id="static_list" width="400" cellspacing="0" cellpadding="0" bordercolor="#CCCCCC" border="1" bgcolor="#FFFFFF">
										<tbody>
											<tr height="30">
												<td class="tabdata" width="50" align="center"><strong> Index </strong></td>
												<td class="tabdata" width="150" align="center"><strong> IP </strong></td>
												<td class="tabdata" width="150" align="center"><strong> MAC </strong></td>
												<td class="tabdata" width="50" align="center"><strong> Drop </strong></td>
											</tr>








										</tbody>
									</table>
								</td>
							</tr>


							<tr>
								<td colspan="4" height="10">&nbsp;</td>
							</tr>
							<tr>
								<td colspan="4" class="title-col">Device Table</td>
							</tr>

							<tr>
								<td colspan="4" height="5">&nbsp;</td>
							</tr>

							<tr>
								<td colspan="4" align="center">
									<!--  modified by Andrew Nguyen -->
									<div id="clients_list">
										<table id="client_list" width="610" cellspacing="0" cellpadding="1" bordercolor="#CCCCCC" border="1" bgcolor="#FFFFFF">
											<tbody>
												<tr>
													<td class="tabdata" width="40" align="center"><strong>
															<font color="#000000">#</font>
														</strong></td>
													<td class="tabdata" width="130" align="center"><strong>
															<font color="#000000">Device Name</font>
														</strong></td>
													<td class="tabdata" width="110" align="center"><strong>
															<font color="#000000">IP Address</font>
														</strong></td>
													<td class="tabdata" width="130" align="center"><strong>
															<font color="#000000">MAC Address</font>
														</strong></td>
													<td class="tabdata" width="100" align="center"><strong>
															<font color="#000000">Connection Type</font>
														</strong></td>
													<td class="tabdata" width="130" align="center"><strong>
															<font color="#000000">Expire Time</font>
														</strong></td>
												</tr>
												<tr>
													<td class="tabdata" align="center">1</td>
													<td class="tabdata" align="center">khoa-P81-D3</td>
													<td class="tabdata" align="center">192.168.1.2</td>
													<td class="tabdata" align="center">14:6b:9c:03:d7:89</td>
													<td class="tabdata" align="center">WLAN(2.4G)</td>
													<td class="tabdata" align="center">0days 23:59:24</td>
												</tr>
											</tbody>
										</table>

									</div>
									<script>
										setInterval(loadDoc, 3000);
										//setTimeout(loadDoc,500);
										function loadDoc() {
											var xmlhttp;
											if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
												xmlhttp = new XMLHttpRequest();
											}
											else {// code for IE6, IE5
												xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
											}
											xmlhttp.onreadystatechange = function () {
												if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
													document.getElementById("clients_list").innerHTML = xmlhttp.responseText;
												}
											};
											xmlhttp.open("GET", "/cgi-bin/show_clients.asp", true);
											xmlhttp.setRequestHeader('If-Modified-Since', '0');
											xmlhttp.send();
										}
									</script>
									<!--  modified by Andrew Nguyen -->

								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div id="dhcp_relay_div" style="display: none;">
					<table class="table1">
						<tbody>
							<tr>
								<td class="fcol"></td>
								<td class="scol">Server IP</td>
								<td width="10">&nbsp;</td>
								<td>
									<input class="myInputText" type="TEXT" name="ServerIp" size="15" maxlength="15" value=""></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
		<!-- Lan DHCP setting end -->


		<!-- LANOUI setting start -->
		<div class="panel panel-info">
			<div class="panel-heading"> DHCPv6 Server Setting </div>
			<div class="panel-body">







				<table class="table1">
					<tbody>
						<tr>
							<td colspan="4" class="title-col">IPv6 Address Setting</td>
						</tr>

						<tr>
							<td class="fcol"></td>
							<td class="scol">IPv6 Global Address</td>
							<td width="10">&nbsp;</td>
							<td> <input class="myInputText" type="TEXT" name="uiViewIPv6Addr" size="30" maxlength="39" value="">
								<font size="+1">&nbsp;/&nbsp;
									<input class="myInputText" type="TEXT" name="uiViewIPv6Prefix" size="3" maxlength="3" value=""></font>
							</td>
						</tr>
						<tr style="display:none">
							<td colspan="5" height="10">&nbsp;</td>
						</tr>

						<tr style="display:none">
							<td width="150" height="30"> </td>
							<td width="10"></td>
							<td class="title-main1" width="150"> Radvd </td>
							<td width="12"> </td>
							<td width="438"> </td>
						</tr>



						<tr style="display:none">
							<td class="fcol"></td>
							<td class="scol">Radvd Enable</td>
							<td width="10">&nbsp;</td>
							<td class="tabdata"> <input type="RADIO" name="radvdRadio" value="0" onclick="radvdChanged()">
								Disable <input type="RADIO" name="radvdRadio" value="1" onclick="radvdChanged()" checked="">
								Enable</td>
							<input type="HIDDEN" name="radvdEnableFlag" value="1">
							<input type="HIDDEN" name="radvdFlag" value="1">
						</tr>
					</tbody>
				</table>

				<div id="div_radvden" style="display: none;">
					<table class="table1">
						<tbody>
							<tr id="div_radvdmode">
								<td class="fcol"></td>
								<td class="scol">Radvd Mode</td>
								<td width="10">&nbsp;</td>
								<td class="tabdata"> <input type="RADIO" name="radvdModeRadio" value="0" onclick="radvdModeChanged()" checked="">
									Auto
									&nbsp;&nbsp;&nbsp;&nbsp;<input type="RADIO" name="radvdModeRadio" value="1" onclick="radvdModeChanged()">
									Manual </td>
								<input type="HIDDEN" name="radvdModeFlag" value="0">
							</tr>
							<tr id="div_radvdprelen" style="display: none;">
								<td class="fcol"></td>
								<td class="scol">Prefix/Length</td>
								<td width="10">&nbsp;</td>
								<td> <input class="myInputText" type="TEXT" name="uiViewIPv6PrefixRadvd" size="30" maxlength="39" value="3ffe:501:ffff:100::">
									<font size="+1">&nbsp;/&nbsp; <input class="myInputText" type="TEXT" name="uiViewIPv6PrefixLenRadvd" size="3"
										 maxlength="3" value="64"></font>
								</td>
							</tr>
							<tr id="div_radvdprelite" style="display: none;">
								<td class="fcol"></td>
								<td class="scol">Preferred Lifetime</td>
								<td width="10">&nbsp;</td>
								<td> <input class="myInputText" type="TEXT" name="uiPreferredLifetimeRadvd" size="30" maxlength="15" value="3600">
								</td>
							</tr>
							<tr id="div_radvdvate" style="display: none;">
								<td class="fcol"></td>
								<td class="scol">ValidLifetime</td>
								<td width="10">&nbsp;</td>
								<td> <input class="myInputText" type="TEXT" name="uiValidLifetimeRadvd" size="30" maxlength="15" value="7200"></td>
							</tr>

							<tr>
								<td class="fcol"></td>
								<td class="scol">RA Flags Set</td>
								<td width="10">&nbsp;</td>
								<td class="btn btn-info btn-xs mySelect">ManagedAddr
									<select name="radvdManagedAddrflag" size="1">
										<option value="off">off
										</option>
										<option value="on" selected="">on
										</option>
									</select>
									OtherConfig
									<select name="radvdOtherConfigflag" size="1">
										<option value="off">off
										</option>
										<option value="on" selected="">on
										</option>
									</select></td>
							</tr>

						</tbody>
					</table>
				</div>


				<table class="table1">
					<tbody>
						<tr>
							<td colspan="4" class="title-col">DHCPv6 Server Option</td>
						</tr>
						<tr>
							<td class="fcol"></td>
							<td class="scol">DHCPv6 Server</td>
							<td width="10">&nbsp;</td>
							<td class="tabdata">
								<!--cindy add 11/17-->
								<input type="RADIO" name="dhcp6sEnableRadio" value="1" onclick="dhcp6sChanged()">
								Enable &nbsp;&nbsp;&nbsp;&nbsp;<input type="RADIO" name="dhcp6sEnableRadio" value="0" onclick="dhcp6sChanged()"
								 checked="">
								Disable
								<!--cindy add 11/17-->
								<!--cindy delete 11/17
        <INPUT TYPE="RADIO" NAME="dhcp6sEnableRadio" VALUE="0" onClick="dhcp6sChanged()" checked > 
           Disable  &nbsp;&nbsp;&nbsp;&nbsp;<INPUT TYPE="RADIO" NAME="dhcp6sEnableRadio" VALUE="1" onClick="dhcp6sChanged()"  > 
           Enable 
      -->
							</td>
							<input type="HIDDEN" name="dhcp6sEnableFlag" value="0">
							<input type="HIDDEN" name="dhcp6sFlag" value="1">

							<input type="HIDDEN" name="dhcp6sModeFlag" value="0">
							<input type="HIDDEN" name="dhcp6sPDFlag" value="N/A">
							<input type="HIDDEN" name="dhcp6sModeSubmitFlag">
						</tr>
					</tbody>
				</table>

				<div id="div_dhcp6sen" style="display: none;">
					<table class="table1">
						<tbody>
							<tr>
								<td class="fcol"></td>
								<td class="scol">DHCPv6 Mode</td>
								<td width="10">&nbsp;</td>
								<td class="tabdata"> <input type="RADIO" name="dhcp6sModeRadio" value="0" onclick="dhcp6sModeChanged()" checked="">
									Automatically &nbsp;&nbsp;&nbsp;&nbsp;<input type="RADIO" name="dhcp6sModeRadio" value="1" onclick="dhcp6sModeChanged()">
									Manually</td>
							</tr>
							<tr id="div_dhcp6sprelen">
								<td class="fcol"></td>
								<td class="scol">Prefix/Length</td>
								<td width="10">&nbsp;</td>
								<td> <input class="myInputText" type="TEXT" name="uiViewIPv6DHCPPrefix" size="30" maxlength="39" value="">
									<font size="+1">&nbsp;/&nbsp;
										<input class="myInputText" type="TEXT" name="uiViewIPv6DHCPPrefixLen" size="3" maxlength="3" value=""></font>
								</td>
							</tr>
							<tr id="div_dhcp6splite">
								<td class="fcol"></td>
								<td class="scol">Preferred Lifetime</td>
								<td width="10">&nbsp;</td>
								<td> <input class="myInputText" type="TEXT" name="uiPreferredLifetimeDHCP6" size="30" maxlength="15" value="3600">
								</td>
							</tr>
							<tr id="div_dhcp6svate">
								<td class="fcol"></td>
								<td class="scol">ValidLifetime</td>
								<td width="10">&nbsp;</td>
								<td>
									<input class="myInputText" type="TEXT" name="uiValidLifetimeDHCP6" size="30" maxlength="15" value="7200">
								</td>
							</tr>

							<tr id="div_dhcp6sdns1">
								<td class="fcol"></td>
								<td class="scol">Primary DNS</td>
								<td width="10">&nbsp;</td>
								<td>
									<input class="myInputText" type="TEXT" name="uiPrimaryDNSDHCP6" size="30" maxlength="39" value="fe80::1">
									<font size="+1">&nbsp;</font>
								</td>
							</tr>

							<tr id="div_dhcp6sdns2">
								<td class="fcol"></td>
								<td class="scol">Secondary DNS</td>
								<td width="10">&nbsp;</td>
								<td>
									<input class="myInputText" type="TEXT" name="uiSecondaryDNSDHCP6" size="30" maxlength="39" value="fe80::2">
									<font size="+1">&nbsp;</font>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<script language="JavaScript" type="text/JavaScript">
		radvdChanged();
		dhcp6sChanged();
	</script>











			</div>
		</div>
		<!-- LANOUI setting Ipv6 end-->

		<table class="table1">
			<tbody>
				<tr height="42">
					<td colspan="4" align="center">
						<input class="btn btn-info myButton" type="button" name="SaveBtn" value="Save" onclick="uiSave()">
						<input class="btn btn-info myButton" type="reset" name="lan_cancel" value="Cancel">
						<input type="HIDDEN" name="DHCPMBSSIDNumberFlag" value="1">
						<input type="HIDDEN" name="DHCP2PortsFlag" value="N/A">
						<input type="HIDDEN" name="DHCP1PortsFlag" value="N/A">
						<input type="HIDDEN" name="DHCPZY1PortsFlag" value="N/A">
						<input type="HIDDEN" name="DHCPFilterFlag" value="N/A">
						<input type="HIDDEN" name="wlanISExist" value="On">
						<input type="HIDDEN" name="wlan11acISExist" value="On">
						<input type="HIDDEN" name="DHCPMBSSID11acNumberFlag" value="1"></td>

				</tr>

			</tbody>
		</table>

	</form>
</div>