<div class="main well">
<form method="POST" action="/cgi-bin/home_wan.asp" name="Alpha_WAN">
		
	<input type="HIDDEN" name="hidEncapFlag" value="0">
	<input type="HIDDEN" name="hidEncap" value="0">
<!-- jrchen add -->
<input type="HIDDEN" name="isIPv6Supported" value="1">
<!-- jrchen add end-->

	<input type="HIDDEN" name="DynIPv6Enable_flag" value="N/A">

	<input type="HIDDEN" name="PPPDHCPv6Enable_Flag" value="N/A">
	<input type="HIDDEN" name="PPPDHCPv6Mode_Flag" value="0">
	<input type="HIDDEN" name="IPv6PD_Flag" value="Yes">
	
	<input type="HIDDEN" name="DHCP6SMode_Flag" value="0">
	<input type="HIDDEN" name="IPVERSION_IPv4" value="IPv4">
	<input type="HIDDEN" name="wanTransFlag" value="0">
	<input type="HIDDEN" name="wanBarrierFlag" value="0">
	<input type="HIDDEN" name="ptm_VC" value="8">
	<input type="HIDDEN" name="wanVCFlag" value="0">
	<input type="HIDDEN" name="service_num_flag" value="0">
	<input type="HIDDEN" name="wanSaveFlag" value="0">
	<input type="HIDDEN" name="vciCheckFlag" value="0">
	<input type="HIDDEN" name="wanEncapFlag" value="0">
	<input type="HIDDEN" name="DSLITE_MANUAL_MODE" value="1">
	<input type="HIDDEN" name="IPVersion_Flag" value="0">
	<input type="HIDDEN" name="is8021xsupport" value="0">
	<input type="HIDDEN" name="isDSLITESupported" value="0">
	<input type="HIDDEN" name="wan_8021q" value="1">
	<input type="HIDDEN" name="disp_wan_8021q" value="1">

	<input type="HIDDEN" name="DefaultWan_Active" value="No">
	
	
	

	<input type="HIDDEN" name="DefaultWan_ISP" value="3">
	
	<input type="HIDDEN" name="DefaultWan_IPVERSION" value="IPv4">
	<input type="HIDDEN" name="DefaultWan_MLDproxy" value="N/A">
	<input type="hidden" name="ipv6SupportValue" value="0">		
	<input type="hidden" name="UserMode" value="0">
	<input type="HIDDEN" name="wan_certificate" value="N/A">
	<input type="HIDDEN" name="wan_CA" value="N/A">
	<input type="HIDDEN" name="wan_HiddenBiDirectionalAuth" value="N/A">
	<input type="HIDDEN" name="IPv6PrivacyAddrsSupportedFlag" value="N/A">
	
         
        
       

<div class="panel panel-info">
<div class="panel-heading"> Set WAN Information </div>
<div class="panel-body" style="display:table">
  <table class="table1">
	 <tbody><tr>
		<td class="fcol"></td>
        <td class="scol">Transfer Modes</td>
        <td width="10">&nbsp;</td>
		<td>
		<select class="myInputText" name="wan_TransMode" size="1" onchange="doTransChange()">

	
	
	
	
			<option value="Fiber" selected="">Fiber
	
		</option></select></td>
	</tr>

<!--end  tcWebApi_get(...haveXPON...) <> "yes" -->
</tbody></table>
</div>
</div>
 <!--end  tcWebApi_get(...noWanModeDefined...) <> "yes" -->





  <div class="panel panel-info"> 
  <div class="panel-heading"> GPON </div>
  <div class="panel-body">
  <table class="table1">
	<tbody><tr>
		<td class="fcol"></td>
		<td class="scol">WAN</td>
		<td width="10">&nbsp;</td>	
		<td>
			<select class="myInputText" name="wan_VC" size="1" onchange="doVCChange()" style="width: 50px;">
				<option value="0" selected="">0
				</option><option value="1">1
				</option><option value="2">2
				</option><option value="3">3
				</option><option value="4">4
				</option><option value="5">5
				</option><option value="6">6
				</option><option value="7">7
			</option></select>&nbsp;
			<input class="btn btn-info btn-xs myButton" type="BUTTON" name="PVC_Summary" value="WANs Summary" onclick="onClickPVCSummary();">
	</td></tr>
	<tr>
		<td class="fcol"></td>
		<td class="scol">Status</td>
		<td width="10">&nbsp;</td>	
		<td>
			<input class="myInputText" type="radio" name="wan_VCStatus" value="Yes" checked=""><font color="#000000">Enable</font>
			<input class="myInputText" type="radio" name="wan_VCStatus" value="No"><font color="#000000">Disable</font></td>
	</tr>
</tbody></table>
</div>
</div>
  
<!-- TransMode<>"PON" end -->

<!-- jrchen add -->
<div id="div_isipv6sup">
<div class="panel panel-info">
 <div class="panel-heading"> IPv4/IPv6 </div>
 <div class="panel-body">		
<table class="table1">	
	
	<tbody><tr>
		<td class="fcol"></td>
		<td class="scol">IP Version</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="ipVerRadio" value="IPv4" onclick="doIPVersionChangeIPv4()"><font color="#000000">IPv4</font>
			<input class="myInputText" type="radio" name="ipVerRadio" value="IPv4/IPv6" checked="" onclick="doIPVersionChangeIPv4()"><font color="#000000">IPv4/IPv6</font>
			<input class="myInputText" type="radio" name="ipVerRadio" value="IPv6" onclick="doIPVersionChangeIPv4()"><font color="#000000">IPv6</font></td>
	</tr>
</tbody></table>
</div>
</div>
</div>
<!-- jrchen add end -->


<div class="panel panel-info">
<div class="panel-heading"> Encapsulation </div>
<div class="panel-body">
<table class="table1">
	<tbody><tr>
		<td class="fcol"></td>
		<td class="scol">Connection Type</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="wanTypeRadio" value="0" onclick="doConTypeChange(this)">Dynamic IP Address</td>
	</tr>
	<tr>
        <td class="fcol">&nbsp;</td>
        <td class="sscol"></td>
        <td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="wanTypeRadio" value="1" onclick="doConTypeChange(this)">Static IP Address</td>
	</tr>
	<tr>
	    <td class="fcol">&nbsp;</td>
        <td class="sscol"></td>
        <td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="wanTypeRadio" value="2" checked="" onclick="doConTypeChange(this)">PPPoE</td>
	</tr>
	<tr>
	    <td class="fcol">&nbsp;</td>
        <td class="sscol"></td>
        <td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="wanTypeRadio" value="3" onclick="doConTypeChange(this)">Bridge Mode</td>
	</tr>
</tbody></table>
</div>
</div>

<div id="div_8021q" style="">

<div class="panel panel-info"> 
<div class="panel-heading"> 802.1q </div>
<div class="panel-body"> 
<table class="table1">
	
	<tbody><tr>
        <td class="fcol"></td>
    	<td class="scol">802.1q</td>
    	<td width="10">&nbsp;</td>
    	<td class="tabdata">
			<input class="myInputText" value="Yes" type="radio" name="wan_dot1q" onclick="wanVidOper(1)"><font color="#000000">Tag</font>
			<input class="myInputText" value="No" type="radio" name="wan_dot1q" onclick="wanVidOper(0)" checked=""><font color="#000000">Untag</font>
			
			</td>
		</tr>

 
	

   	<tr>
        <td class="fcol"></td>
    	<td class="scol">VLAN ID</td>
    	<td width="10">&nbsp;</td>
    	<td><input class="myInputText" maxlength="5" size="5" name="wan_vid" value="0" disabled="">(range: 0~4095)</td>
	</tr>



</tbody></table>
</div>
</div>
</div>


<div id="div_mvlan">
<div class="panel panel-info">
<div class="panel-heading"> MVLan Options </div>
<div class="panel-body">
<table class="table1">
	
  	<tbody><tr>
		<td class="fcol">&nbsp;</td>
		<td class="scol">Multi VLan Option</td>
		<td width="10">&nbsp;</td>
		<td class="tabdata"><input class="myInputText" maxlength="5" size="5" name="wan_mvlan" value="-1">(range: -1~4095, -1 means no multi vlan)</td>
	</tr>
</tbody></table>
</div>
</div>
</div>



<div id="div_802_1x" style="display: none;">
      802.1X
      802.1X Authentication
      802.1X
        <select class="myInputText" name="wan_status" size="1" onchange="doStatusChange()">
		<option value="Disabled">Disable
		</option><option value="Enable">Enable
		</option></select>
		EAP Identity
        <input class="myInputText" type="TEXT" name="wan_eapIdentity" size="20" maxlength="45" value="">	        
     EAP Method
    EAP-TLS 
    
    <input type="checkbox" name="wan_authentication" onclick="doauthenticationChange()" checked=""> 
	Enable Bidirectional Authentication
	
    Certificate
    
    <iframe src="/cgi-bin/getCertNames.cgi" name="Iframe2" scrolling="no" marginheight="0" height="22" frameborder="0" align="top"></iframe>
		Trusted CA
    <iframe src="/cgi-bin/getCANames.cgi" name="Iframe3" scrolling="no" marginheight="0" height="22" frameborder="0" align="top"></iframe>

</div>
 

<!-- Display IPoE / Dynamic IP ancapsulation setting start-->

<div id="div_isp0" style="display: none;">
    <div class="panel panel-info">
	<div class="panel-heading"> Dynamic IP </div>
    <div class="panel-body">

<table class="table1">
	<tbody><tr><td><br></td></tr>

	<!--Johnson display KeepAlive ACS option here -->
  <tr>
  		<td colspan="4" class="title-col">Keep Alive Time Setting for ACS</td>
  </tr>
  <tr><td colspan="4" height="5"></td></tr>
  <tr>
		<td class="fcol"></td>
		<td class="scol">Keep Alive Time</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="TEXT" name="keepAliveTime" size="10" maxlength="15" value=""> (Note: 0 means disable this feature!)
		</td>
   </tr>

   <tr><td colspan="4" height="5"></td></tr>

	<!--Johnson display KeepAlive ACS option end -->


	<tr>
		<td colspan="4" class="title-col">IP Common Options</td>
	</tr>
	<tr><td colspan="4" height="5"></td></tr>


	
	<tr id="div_isp0encap">
        <td class="fcol"></td>
		<td class="scol">Bridge Interface</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="wan_BridgeInterface0" value="Yes" checked="">Enable      
			<input class="myInputText" type="radio" name="wan_BridgeInterface0" value="No">Disable</td>
	</tr>
	

	<tr>
		<td class="fcol"></td>
		<td class="scol">Default Route</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="WAN_DefaultRoute0" value="Yes" onclick="doDefaultRouteYes()" checked="">Enable 
			<input class="myInputText" type="radio" name="WAN_DefaultRoute0" value="No" onclick="doDefaultRouteNo()">Disable</td>
	</tr>
	<tr>
        <td class="fcol"></td>
		<td class="scol">TCP MTU Option</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="TEXT" name="wan_TCPMTU0" size="5" maxlength="4" value="0">bytes
      		TCP MTU(0:default)
       </td>
	</tr>
  	

<!--ipv4/ipv6 and ipv4 dgk wait modify -->
	<tr><td><br></td></tr>	
	<tr id="div_ipv4nat_0" style="display: none;">
		<td colspan="4" class="title-col">IPv4 Options</td>
	</tr>
	<tr id="div_ipv4nat_1" style="display: none;">
		<td class="fcol"></td>
		<td class="=&quot;scol&quot;">NAT</td>
		<td width="10">&nbsp;</td>
		<td>
			<select class="myInputText" name="wan_NAT0" size="1">
				<option value="Enable" selected="">Enable
				</option><option value="Disabled">Disable
			</option></select></td>
	</tr>	
	
	
</tbody></table>

<!--ipv4/ipv6 and ipv4 dgk wait modify -->
<div id="div_ipv4IP" style="display: none;">
<table class="table1">
	<tbody><tr>
        <td class="fcol"></td>
		<td class="scol">Dynamic Route</td>
		<td width="10">&nbsp;</td>
		<td>
			<select class="myInputText" name="wan_RIP0" size="1">
				<option value="RIP1" selected="">RIP1
				</option><option value="RIP2">RIP2
			</option></select>
			<font color="#000000">Direction</font>
			<select class="myInputText" name="wan_RIP_Dir0" size="1">
				<option value="None" selected="">None
				</option><option value="Both">Both
				</option><option value="IN Only">IN Only
				</option><option value="OUT Only">OUT Only
			</option></select></td>
	</tr>

	<tr>   
        <td class="fcol"></td>
		<td class="scol">IGMP Proxy</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="wan_IGMP0" value="Yes" checked=""> <font color="#000000">Enable</font>
			<input class="myInputText" type="radio" name="wan_IGMP0" value="No"> <font color="#000000">Disable</font></td>
	</tr>

</tbody></table>
</div>

<!-- Display IPoE / Dynamic IP ancapsulation setting END-->

<!-- jrchen add -->	
<!-- ipv4/ipv6 deleted-->
<!-- jrchen add end -->

<!--ipv4/ipv6 dgk wait modify -->
<div id="div_ipv6dhcp" style="display: none;">
<table class="table1">

	<tbody><tr>
  		<td colspan="4" class="title-col">IPv6 Address</td>
    </tr>

    <tr><td colspan="4" height="5"></td></tr>

	<tr>
        <td class="fcol"></td>
		<td class="scol">IPv6 Message Fetch Type</td>
		<td width="10">&nbsp;</td>
		<td>Dynamic Mode</td>
	</tr>
	 
	 <tr>
        <td class="fcol"></td>
		<td class="scol">DHCP IPv6 Enable</td>
		<td width="10">&nbsp;</td>
		<td>
			
			<input class="myInputText" type="radio" name="DynIPv6EnableRadio" value="1" checked=""> <font color="#000000">DHCP</font>
			<input class="myInputText" type="radio" name="DynIPv6EnableRadio" value="0"> <font color="#000000">SLAAC</font>        
			
		</td>
	</tr>
	
	<tr>
        <td class="fcol"></td>
		<td class="scol">DHCP PD Enable</td>
		<td width="10">&nbsp;</td>
		<td>			     
			<input class="myInputText" type="radio" name="PPPIPv6PDRadio0" value="Yes" onclick="doPPPv6PDEnable()" checked=""> <font color="#000000">Enable</font>
			<input class="myInputText" type="radio" name="PPPIPv6PDRadio0" value="No" onclick="doPPPv6PDDisable()"> <font color="#000000">Disable</font>   
		</td>
	</tr>

	 	<tr>
        <td class="fcol"></td>
		<td class="scol">MLD Proxy</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="wan_MLD0" value="Yes" checked=""> <font color="#000000">Enable</font>
			<input class="myInputText" type="radio" name="wan_MLD0" value="No"> <font color="#000000">Disable</font></td>
	</tr>


	</tbody></table>
	</div>

	<div id="div_isp0dsl" style="display: none;" align="center">
	<table class="table1">
	<tbody><tr><td><br></td></tr>
	<tr>
		<td colspan="4" class="title-col">Dual Stack Lite</td>
	</tr>
	<tr>    
        <td class="fcol"></td>
		<td class="scol">Enable</td>
		<td width="10">&nbsp;</td>
		<td> <input class="myInputText" type="radio" name="DSLITEEnableRadio0" value="Yes" onclick="doDSLiteEnable(0)">
       Enable
          <input class="myInputText" type="radio" name="DSLITEEnableRadio0" value="No" onclick="doDSLiteDisable(0)" checked="">
         Disable </td>
	</tr>
	<tr id="div_dslite0_0">
        <td class="fcol"></td>
		<td class="scol">Mode</td>
		<td width="10">&nbsp;</td>
		<td>
	          <input class="myInputText" type="radio" name="DSLITEModeRadio0" value="0" onclick="doDSLiteModeAuto()" checked="">
          Auto
                  <input class="myInputText" type="radio" name="DSLITEModeRadio0" value="1" onclick="doDSLiteModeManual()">
         Manual</td>
	</tr>
	<tr id="div_dslite0_1">
        <td clas="fcol"></td>
		<td class="scol">Remote IPv6 Address</td>
		<td width="10">&nbsp;</td>
		<td><input class="myInputText" type="TEXT" name="DSLITEAddr0" size="39" maxlength="39" value="N/A">
		<script language="JavaScript" type="text/JavaScript">
		if (document.Alpha_WAN.isDSLITESupported.value == "1"){
			if(document.Alpha_WAN.DSLITEEnableRadio0[0].checked)
				doDSLiteEnable(0);
			else
				doDSLiteDisable(0);
		}
		</script></td>
	</tr>
	</tbody></table>
	</div>

   </div>
   </div>
</div>
<!-- Setting IP0E / Dynamic IP encapsulation END -->

<div id="div_isp1" style="display: none;">
     <div class="panel panel-info">
      <div class="panel-heading">  Static IP </div>
       <div class="panel-body">
<table class="table1">
	<tbody><tr><td><br></td></tr>
	<tr>
		<td colspan="4" class="title-col">IP Common Options</td>
	</tr>

	
	
	
	<tr id="div_isp1encap">
        <td class="fcol"></td>
		<td class="scol">Bridge Interface</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="wan_BridgeInterface1" value="Yes" checked="">Enable      
			<input class="myInputText" type="radio" name="wan_BridgeInterface1" value="No">Disable</td>
	</tr>
	
	<tr>
        <td class="fcol"></td>
		<td class="scol">Default Route</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="WAN_DefaultRoute1" value="Yes" onclick="doDefaultRouteYes()" checked="">Enable
			<input class="myInputText" type="radio" name="WAN_DefaultRoute1" value="No" onclick="doDefaultRouteNo()">Disable</td>
	</tr>
	<tr>   
        <td class="fcol"></td>
		<td class="scol">TCP MTU Option</td>
		<td width="10">&nbsp;</td>
		<td>TCP MTU(0:default)
			<input class="myInputText" type="TEXT" name="wan_TCPMTU1" size="5" maxlength="4" value="0">bytes</td>
	</tr>
</tbody></table>	

<div id="div_ipv4static" style="display: none;">
<table class="table1">
	<tbody><tr><td><br></td></tr>
	<tr>
		<td colspan="4" class="title-col">IPv4 Options</td>
	
	</tr>
	
	
	<tr>
        <td class="fcol"></td>
		<td class="scol">Static IP Address</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="TEXT" name="wan_StaticIPaddr1" size="16" maxlength="15" value=""></td>
	</tr>
	
	<tr>
        <td class="fcol"></td>
		<td class="scol">IP Subnet Mask</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="TEXT" name="wan_StaticIPSubMask1" size="16" maxlength="15" value=""></td>
	</tr>
	<tr>
        <td clas="fcol"></td>
		<td class="scol">Gateway</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="TEXT" name="wan_StaticIpGateway1" size="16" maxlength="15" value=""></td>
	</tr>
	
	<tr>
        <td class="fcol"></td>
		<td class="scol">NAT</td>
		<td width="10">&nbsp;</td>
      	<td> <select class="myInputText" name="wan_NAT1" size="1">
          	<option value="Enable" selected="">Enable 
          	</option><option value="Disabled">Disable 
        </option></select></td>
	</tr>
	
	
	<tr>
        <td class="fcol"></td>
		<td class="scol">Dynamic Route</td>
		<td width="10">&nbsp;</td>
		<td>
			<select class="myInputText" name="wan_RIP1" size="1">
				<option value="RIP1" selected="">RIP1
				</option><option value="RIP2">RIP2
			</option></select>
			<font color="#000000">Direction</font>
			<select class="myInputText" name="wan_RIP_Dir1" size="1">
				<option value="None" selected="">None
				</option><option value="Both">Both
				</option><option value="IN Only">IN Only
				</option><option value="OUT Only">OUT Only
			</option></select></td>
	</tr>	
</tbody></table></div>

<table class="table1">			
	<tbody><tr id="div_ipv4igp" style="display: none;">
		<td class="fcol"></td>
		<td class="scol">IGMP Proxy</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="wan_IGMP1" value="Yes" checked=""> Enable
			<input class="myInputText" type="radio" name="wan_IGMP1" value="No">Disable</td>
	</tr>
</tbody></table>

<!-- jrchen add -->	

<div id="div_ipv6_staticip" style="display: none;">
<table class="table1">
	<tbody><tr><td><br></td></tr>
	<tr>
		<td colspan="4" class="title-col">IPv6 Options</td>
	</tr>
	<tr>
        <td class="fcol"></td>
		<td class="scol">IPv6 Message Fetch Type</td>
		<td width="10">&nbsp;</td>
		<td>Static Mode</td>
	</tr>
	<tr>
        <td class="fcol"></td>
		<td class="scol">IPv6 Address</td>
		<td width="10">&nbsp;</td>
		<td>
       		<input class="myInputText" type="TEXT" name="wan_IPv6Addr" size="39" maxlength="39" value=""><font size="+1">&nbsp;/&nbsp;</font><input class="myInputText" type="TEXT" name="wan_IPv6Prefix" size="3" maxlength="3" value=""></td>
     </tr>
	 <tr>
    <td class="fcol"></td>
    <td class="scol">IPv6 Default Gateway</td>
    <td width="10">&nbsp;</td>
    <td>
        <input class="myInputText" type="TEXT" name="wan_IPv6DefGw" size="39" maxlength="39" value=""></td>
     </tr>
	 
  <tr>
   <td class="fcol"></td>
   <td class="scol">
    IPv6 DNS Server1</td>
   <td width="10">&nbsp;</td>
   <td>
        <input class="myInputText" type="TEXT" name="wan_IPv6DNS1" size="39" maxlength="39" value=""></td>
     </tr>
	 
	 <tr>
    <td class="fcol"></td>
    <td class="scol">
   IPv6 DNS Server2</td>
   <td width="10">&nbsp;</td>
  <td>
        <input class="myInputText" type="TEXT" name="wan_IPv6DNS2" size="39" maxlength="39" value=""></td>
     </tr>
 
	 <tr>
                <td class="fcol"></td>
		<td class="scol">MLD Proxy</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="wan_MLD1" value="Yes" checked=""> Enable
			<input class="myInputText" type="radio" name="wan_MLD1" value="No">Disable</td>
	</tr>


	</tbody></table></div>
	<div id="div_isp1dsl" style="display: none;" align="center">
	<table class="table1">
		<tbody><tr><td><br></td></tr>
	<tr>
		<td colspan="4" class="title-col">Dual Stack Lite</td>
	
	</tr>

	<tr>
                <td class="fcol"></td>
		<td class="scol">Enable</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="DSLITEEnableRadio1" value="Yes" onclick="doDSLiteEnable(1)">
         Enable
          	<input class="myInputText" type="radio" name="DSLITEEnableRadio1" value="No" onclick="doDSLiteDisable(1)" checked="">
          Disable </td>
	</tr>
	<tr id="div_dslite1_0">
                <td class="fcol"></td>
		<td class="scol">Mode</td>
		<td width="10">&nbsp;</td>
		<td> Manual</td>
	</tr>

	<tr id="div_dslite1_1">
		<td class="fcol"></td>
		<td class="scol">Remote Address</td>
		<td width="10">&nbsp;</td>
		<td><input class="myInputText" type="TEXT" name="DSLITEAddr1" size="39" maxlength="39" value="">
		<script language="JavaScript" type="text/JavaScript">
		if (document.Alpha_WAN.isDSLITESupported.value == "1"){
			if(document.Alpha_WAN.DSLITEEnableRadio1[0].checked)
				doDSLiteEnable(1);
			else
				doDSLiteDisable(1);
		}
		</script></td>
	</tr>
	</tbody></table></div>
</div>
</div>
</div>
<!-- jrchen add end -->
 	


<div id="div_isp2"> 
    <div class="panel panel-info">
    <div class="panel-heading">	PPPoE  </div>
   <div class="panel-body">     
<table class="table1">

	<tbody><tr>
	    <td class="fcol"></td>
		<td class="scol">Username</td>
		<td width="10">&nbsp;</td>
        <td>
		  
          		<input class="myInputText" type="TEXT" name="wan_PPPUsername" size="32" maxlength="64" value="fpt">
		  
		  <input type="HIDDEN" name="TTNETGuiSupport" value="0">
	</td>	
      </tr>
	<tr id="PPPUsername_ErrorMsg_TR" style="DISPLAY: none">
    	    <td class="fcol"></td>	
            <td colspan="3">The domain name is invalid. Please check! </td>
	</tr>
	<tr>
        <td class="fcol"></td>
		<td class="scol">Password</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="PASSWORD" name="wan_PPPPassword" size="32" maxlength="64" value=""></td>
	</tr>

	
	<tr id="div_isp2encap">
         <td class="fcol"></td>
		<td class="scol">Bridge Interface</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="wan_BridgeInterface2" value="Yes" checked="">Enable
          		<input class="myInputText" type="radio" name="wan_BridgeInterface2" value="No">Disable</td>
	</tr>
	
	<tr><td><br></td></tr>
	<tr>
		<td colspan="4" class="title-col">Connection Setting</td>
	</tr>
	<tr><td colspan="4" height="5">&nbsp;</td></tr>
	<tr>
        <td class="fcol">&nbsp;</td>
		<td class="scol">PPPoE Connection Mode</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="wan_ConnectSelect" value="Connect_Keep_Alive" checked="" onclick="WANChkIdleTimeT();">Always On</td>
	</tr>
	<tr id="connondemand_info" style="display: none;">
		 <td class="fcol"></td>
         <td class="sscol"></td>
         <td width="10">&nbsp;</td>
		<td class="tabdata">
			<input class="myInputText" type="radio" name="wan_ConnectSelect" value="Connect_on_Demand" onclick="WANChkIdleTimeT();"><font color="#000000">Connect On-Demand (Close if idle for</font>        
			<input class="myInputText" type="TEXT" name="wan_IdleTimeT" size="5" maxlength="3" value="0" disabled="">minutes)</td>
	</tr>
	<tr>   
	<td class="fcol">&nbsp;</td>
    <td class="sscol"></td>
    <td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="wan_ConnectSelect" value="Connect_Manually" onclick="WANChkIdleTimeT();">Connect Manually</td>
	</tr>	
	
	<tr>
        <td class="fcol"></td>
		<td class="scol">TCP MSS Option</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="TEXT" name="wan_TCPMSS" size="5" maxlength="4" value="0">bytes
       (0 means use default)   
       </td>
	</tr>
	
	<tr><td><br></td></tr>
	<!-- johnson remove
	<tr>
		<td colspan="4" class="title-col">IP Options</td>
	</tr>
	-->
	<tr><td><br></td></tr>
	<tr>
		<td colspan="4" class="title-col">IP Common Options</td>
	</tr>

	<tr><td colspan="4" height="5">&nbsp;</td></tr>
	<tr>
		<td class="fcol"></td>
		<td class="scol">Default Route</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="WAN_DefaultRoute2" value="Yes" onclick="doDefaultRouteYes()" checked="">Enable       
			<input class="myInputText" type="radio" name="WAN_DefaultRoute2" value="No" onclick="doDefaultRouteNo()">Disable</td>
	</tr>
</tbody></table>

<!--ipv4 and ipv4/v6 dgk wait modify -->
<div id="div_ipv4getip">
<table class="table1">
	<tbody><tr><td><br></td></tr>	
	<tr>
		<td colspan="4" class="title-col">IPv4 Options</td>
	</tr>
	<tr><td colspan="4" height="5">&nbsp;</td></tr>
	<tr>
        <td class="fcol"></td>
		<td class="scol">Get IP Address</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="wan_PPPGetIP" value="Static" onclick="pppStaticCheck()">Static
			<input class="myInputText" type="radio" name="wan_PPPGetIP" value="Dynamic" checked="" onclick="pppStaticCheck()">Dynamic</td>
	</tr>
	<tr>
        <td class="fcol"></td>
		<td class="scol">Static IP Address</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="TEXT" name="wan_StaticIPaddr2" size="16" maxlength="15" value="" disabled=""></td>
	</tr>
	<tr>    
        <td class="fcol"></td>
		<td class="scol">IP Subnet Mask</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="TEXT" name="wan_StaticIPSubMask2" size="16" maxlength="15" value="" disabled=""></td>
	</tr>
	<tr>
                <td class="fcol"></td>
		<td class="scol">Gateway</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="TEXT" name="wan_StaticIpGateway2" size="16" maxlength="15" value="" disabled=""></td>
	</tr>
	
	<tr>
        <td class="fcol"></td>
		<td class="scol">NAT</td>
		<td width="10">&nbsp;</td>
		<td>
			<select class="myInputText" name="wan_NAT2" size="1">
				<option value="Enable" selected="">Enable
				</option><option value="Disabled">Disable
			</option></select></td>
	</tr>
	
	<tr>
	        <td class="fcol"></td>
		<td class="scol">Dynamic Route</td>
		<td width="10">&nbsp;</td>
		<td>
			<select class="btn btn-info btn-xs mySelect" name="wan_RIP2" size="1">
				<option value="RIP1" selected="">RIP1
				</option><option value="RIP2">RIP2
			</option></select>
			<font color="#000000">Direction</font>
			<select class="btn btn-info btn-xs mySelect" name="wan_RIP_Dir2" size="1">
				<option value="None" selected="">None
				</option><option value="Both">Both
				</option><option value="IN Only">IN Only
				</option><option value="OUT Only">OUT Only
			</option></select></td>
	</tr>
	
	<tr>
		<td class="fcol"></td>
		<td class="scol">TCP MTU Option</td>
		<td width="10">&nbsp;</td>
		<td>
		<input class="myInputText" type="TEXT" name="wan_TCPMTU2" size="5" maxlength="4" value="0">bytes</td>
	</tr>

	<tr>
		<td class="fcol">&nbsp;</td>
		<td class="sscol"></td>
		<td width="10">&nbsp;</td>
		<td>TCP MTU(0 means use default:1492)</td>
	</tr>


	<tr>
		<td class="fcol"></td>
		<td class="scol">IGMP Proxy</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="wan_IGMP2" value="Yes" checked=""> Enable        
			<input class="myInputText" type="radio" name="wan_IGMP2" value="No"> Disable</td>
	</tr>

	</tbody></table></div>
<!-- jrchen add -->	

<!-- ipv4 and ipv6 dgk wait modify-->
<div id="div_ipv6pdm">
<table class="table1">	
	<tbody><tr><td><br></td></tr>
	<tr>
		<td colspan="4" class="title-col">IPv6 Options</td>
		
	</tr>

	<tr>
		<td class="fcol"></td>
		<td class="scol">DHCP IPv6 Mode</td>
		<td width="10">&nbsp;</td>
		<td>
			
			<input class="myInputText" type="radio" name="PPPIPv6ModeRadio" value="1" onclick="doPPPv6ModeDHCP()"> <font color="#000000">DHCP</font>
			<input class="myInputText" type="radio" name="PPPIPv6ModeRadio" value="0" onclick="doPPPv6ModeSLAAC()" checked=""> <font color="#000000">SLAAC</font>        
		
		</td>
	</tr>
	
	<tr>
                <td class="fcol"></td>
		<td class="scol">DHCP PD Enable</td>
		<td width="10">&nbsp;</td>
		<td class="tabdata">
			<input class="myInputText" type="radio" name="PPPIPv6PDRadio2" value="Yes" checked=""> Enable
			<input class="myInputText" type="radio" name="PPPIPv6PDRadio2" value="No"> Disable</td>
	</tr>

	 	<tr>
                <td class="fcol"></td>
		<td class="scol">MLD Proxy</td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="wan_MLD2" value="Yes" checked=""> Enable
			<input class="myInputText" type="radio" name="wan_MLD2" value="No"> Disable</td>
	</tr>


	</tbody></table></div>
	<div id="div_isp2dsl" style="display: none;" align="center">
	<table class="table1">
	<tbody><tr><td><br></td></tr>
	<tr>
		<td colspan="4" class="title-col">Dual Stack Lite</td>
	</tr>

	<tr>
	    <td class="fcol"></td>
		<td class="scol"><div align="right"><font color="#000000">Enable</font></div></td>
		<td width="10">&nbsp;</td>
		<td>
			<input class="myInputText" type="radio" name="DSLITEEnableRadio2" value="Yes" onclick="doDSLiteEnable(2)">
          <font color="#000000">Enable</font> 
          	<input class="myInputText" type="radio" name="DSLITEEnableRadio2" value="No" onclick="doDSLiteDisable(2)" checked="">
          <font color="#000000">Disable</font> </td>
	</tr>
	<tr id="div_dslite2_0">
		<td class="fcol"></td>
		<td class="scol">Mode</td>
		<td width="10">&nbsp;</td>
		<td class="tabdata">
			<input class="myInputText" type="radio" name="DSLITEModeRadio2" value="0" onclick="doDSLiteModeAuto()" checked="">
         Auto
          	<input class="myInputText" type="radio" name="DSLITEModeRadio2" value="1" onclick="doDSLiteModeManual()">
          Manual</td>
	</tr>
	<tr id="div_dslite2_1">
	         
		<td class="fcol"></td>
		<td class="scol">Remote Address</td>
		<td width="10">&nbsp;</td>
		<td class="tabdata">
		<input class="myInputText" type="TEXT" name="DSLITEAddr2" size="39" maxlength="39" value="">
		<script language="JavaScript" type="text/JavaScript">
		if (document.Alpha_WAN.isDSLITESupported.value == "1"){
			if(document.Alpha_WAN.DSLITEEnableRadio2[0].checked)
				doDSLiteEnable(2);
			else
				doDSLiteDisable(2);
		}
		</script></td>
	</tr>
	</tbody></table></div>

</div>
</div>
<!-- jrchen add end -->	
</div>

<div id="div_isp3" style="display: none;">

</div>


<table class="table1">
	<tbody><tr>
		<input type="HIDDEN" name="isPPPAuthen" value="N/A">
		<input type="HIDDEN" name="isWanTagChk" value="N/A">
		<input type="HIDDEN" name="isdot1pSupport" value="N/A">
		<input type="HIDDEN" name="isTPIDSupported" value="N/A">	
		<script language="JavaScript" type="text/JavaScript">
		with (document.Alpha_WAN){
			/*8021q check*/
			setDisplay('div_8021q', 0);
			if((wan_8021q.value == 1) && (disp_wan_8021q.value==1)){
				setDisplay('div_8021q', 1);
			}
			
			if (is8021xsupport.value != "1") {
			    setDisplay('div_802_1x', 0);
			}
			if(isIPv6Supported.value != "1"){
				ipVerRadio[0].checked = true;
				doIPVersionChangeIPv4();
				setDisplay('div_isipv6sup', 0);
			}
			else{
				doIPVersionChangeIPv4();
			}
			//vlan id check
				
			wan8021QCheck();
			WANChkIdleTimeT();
		}
		</script>
		<td colspan="4" align="center">
			<input class="btn btn-info myButton" type="button" name="SaveBtn" value="Save" onclick="uiSave()">
	<input type="HIDDEN" name="DefaultDmz_Active" value="No">
	<input type="HIDDEN" name="DefaultDmz_HostIP" value="0.0.0.0"></td>
	</tr> 	     
</tbody></table>
</form></div>