    .bground {       
        margin:auto;
        margin-top:10px;
        margin-left:100px;
        background-color: white;
    } 

    .loginbground{
	     background: linear-gradient(to bottom, #000066 5%, #ccffff 100%);
    }

     .loginbg{
	       background-color:linen;
    }

     .bgroundMod {       
        margin:auto;
        margin-top:10px;
        margin-left:100px;
        background: linear-gradient(to bottom, #000066 15%, #ccffff 100%);
    } 
    .logoBanner{
        width:1050px;
        margin:auto;
        margin-bottom: 10px;
        background-image: url("banner_en.png");
        background-size: 1050px 70px;
        background-repeat: no-repeat;
    }

    .logo-header{
       width:1040px;
       margin:auto;
       margin-top:10px;
       margin-left:3%; 
       background-color: white;
    }  

    .model-header{

        background-image: url("model.png");
        background-size: 190px 70px;
        background-repeat: no-repeat;
    }

    .div_visite{
      background:linen url("bg.gif") repeat top left;
      border-radius: 8px 8px 8px 8px;
      -moz-border-radius: 8px 8px 8px 8px;
      -webkit-border-radius: 8px 8px 8px 8px;   
      -webkit-box-shadow: #666 0px 3px 4px;
      -moz-box-shadow: #666 0px 3px 4px;
      box-shadow: #666 0px 3px 4px;
    
      margin-left: auto;
      margin-right: auto;
      margin-top: 170px;
      padding: 15px 20px;
      width: 500px;
      height:350px;
    }
   
    .usr
    {
      background-image:url("usr.png");
      background-size: 35px 35px;
      background-repeat: no-repeat;
      background-position: center right;

    }

    .pwd
    {
      background-image:url("pwd.png");
      background-size: 35px 35px;
      background-repeat: no-repeat;
      background-position: center right;

    }


     .my-nav-background{
       width:1035px;
       margin:auto;
       margin-top:10px;
       margin-left:3%;
     }


     .nav-color{
         background-color:#008080; 
        
     }
     .nav-text{
         color: white;
         font-weight:bold;
     }
     .actived{
         background-color:#CD7F32;
         color:white;   
     }
     .nav-text li{
         padding-left:5px;
         padding-right:5px;
     }
     .nav-text li:hover{
         background-color:#CD7F32; 
         color: white;
     }
     .my-sidebar{
         width:200px;
         float:left;
         margin:auto;
         margin-left:3%;

     }
     .sidebar-color{
         background-color:#f2f2f2; 
     }
     .main{
         width:835px;
         margin-left:250px;       
     }
     .list-group .actived{
         background-color: #008080; 
         color: white;
     } 
     .list-group a:hover{
         background-color:#808080; 
         color:white;
     }
     .list-group li:hover{
        color:white;
     }
     .sticky{
           position: -webkit-sticky;
          position: sticky;
        top: 0;
         
     }

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: #00B3D7;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;
    }
    .first-col{
		    font-weight:bold;
        width:100px;
    }
    .sec-col{
		    font-weight:bold;
        width:200px;
    }
		
	.title-col{
		font-weight:bold;
		color:#8a2ba2;
	}

    #myBtn:hover {
        background-color:#006F86;
    }
    
    .footer{
        width:800px;
        margin:auto;
        text-align: center;
        margin-top: 40px; 
        margin-bottom: 40px;
        margin-left:260px;
    }

    .myButton{
        margin-bottom: 4px;
        margin-right: 4px;
    }
    .mySelect{
        margin-bottom: 4px;
        margin-right: 4px;
    }
    .myInputText{
        margin-bottom: 4px;
    }
    .top_lang {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FF9933;
	margin:3px 0px 3px 0px;
	padding:3px 0px 3px 0px
    }

    .table1{
      border-collapse: separate;
      border-spacing: 1px;
      width: 760px;
      border: 0px solid #f2f2f2;
    }

    .fcol{
      width: 130px;
      height: 25px;
    }
    .scol{
      width: 200px;
      background-color: #f2f2f2;
    }

    .sscol{
      width: 200px;
    }

    .col2{
      width: 25%;
      height: 25px;
    }
    .col1{
      width: 25%;
      background-color: #f2f2f2;
    }

    .table2{
      border-collapse: collapse;
      border-spacing: 1px;
      width: 730px;
      border: 1px solid #f2f2f2;
      color: #000;
      font: 13px/16px Arial, Helvetica, sans-serif;
      margin: 0px auto 0 auto;
      text-align: center;
    }
	
